/* Style the body */
body {
    font-family: Arial;
    margin: 0;
  }

/* Header/Logo Title */
.header {
    background: #335983;
    height: 80px;
}

.header img{
    margin-left: 30px;
    margin-top: 8px;
}

/* Page Content */
.title {
    font-size: 64px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}

p {
    font-size: 20px;
    margin-left: 35px;
}

.preview {
    font-size: 18px;
    color: #335983;
    margin-top: 45px;
}

.certificate {
    margin-left: 400px;
    margin-top: 50px;
}

/* Button */
button {
    background-color: #335983;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 #335983 , 0 6px 20px 0 #335983;
    margin-left: 550px;
    margin-top: 30px;
}

    
