/* Style the body */
body {
    font-family: Arial;
    margin: 0;
  }

/* Header/Logo Title */
.header {
    background: #335983;
    height: 80px;
}

.header img{
    margin-left: 30px;
    margin-top: 8px;
}

/* Page Content */

.page-content h1{
    font-size: 64px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.page-content p {
    font-size: 20px;
    margin-left: 35px;
}

.page-content h4{
    font-size: 18px;
    color: #335983;
    margin-top: 45px;
    margin-left: 35px;
}

.page-content img {
    margin-left: 400px;
    margin-top: 50px;
}

/* Button */
.page-content button {
    background-color: #335983;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 #335983 , 0 6px 20px 0 #335983;
    margin-left: 550px;
    margin-top: 30px;
}

.page-content h5{
    margin-left: 520px; 
    margin-top: 40px;
    font-size: 18px;
}

@media  screen and (max-width: 600px) {

    .header {
        background: #335983;
        height: 60px;
    }
    .header img{
        margin-top: 2px;
        margin-left: 25px;
        width: 73px;
        height: 65px;
    }
    .page-content h1{
        font-size: 35px;
        margin-left: 25px;
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .page-content p {
        font-size: 12px;
        margin-left: 28px;
    }

    .page-content h4{
        font-size: 12px;
        color: #335983;
        margin-top: 25px;
        margin-left: 28px;
    }
    .page-content img {
        margin-left: 50px;
        margin-top: 20px;
        width: 312px;
        height: 215px;
    }

    .page-content button {
        background-color: #335983;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 12px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 #335983 , 0 6px 20px 0 #335983;
        margin-left: 100px;
        margin-top: 20px;
    }

    .page-content h5{
        margin-left: 85px; 
        margin-top: 30px;
        font-size: 12px;
    }
  
    
}



    
