<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Download your certificate </title>

    <!--Link to Certificate CSS File-->
    <link rel="stylesheet" href="../static/css/certificate.css">

</head>
    <body>

        <!-- Header -->
        <div class="header">
            <a href="../index.html">
                <img src="../static/images/MCS Logo-White.png"  alt="Logo-White" width="73" height="68">
            </a>
        </div>

        <!--Page Content-->
        <div class="page-content">
            <h1>MCS  <br> <span style="color: #335983;" > Certificate Generator</span> </h1>
            <p> Dear Student, Congratulations on completing your Track!</p>

            <!--Certificate Preview-->
            <h4> Certificate Preview</h4>
            <div class="certificate-container">
                <!--Dummy Image Certificate-->
                <img src="" alt="certificate" id="certificate_image" width="540" height="370">

                <br>
                <!-- Download Button-->
                <button type="button" id="downloadBtn"> Download Certificate </button>

                <h5> *Certificate in PNG Format</h5>
            </div>
             
            

        </div>
        
    </body>
    <script src="../app/certificate.js"></script>
</html>