<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Download your certificate </title>

    <!--Link to Certificate CSS File-->
    <link rel="stylesheet" href="../static/css/certificate.css">

</head>
    <body>

        <!-- Header -->
        <div class="header">
            <img src="../static/images/MCS Logo-White.png" alt="Logo-White" width="73" height="68">
        </div>

        <!--Page Content-->
        <div class="page-content">
            <h1>MCS  <br> <span style="color: #335983;" > Certificate Generator</span> </h1>
            <p> Dear Student, Congratulations on completing your Track!</p>

            <!--Certificate Preview-->
            <h4> Certificate Preview</h4>

             <!--Dummy Image Certificate-->
            <img src="../static/images/Dummy_certificate.jpg" alt="Dummy-certificate" width="540" height="370">

            <br>
            <!-- Download Button-->
            <button type="button"> Download Certificate </button>

            <p style="margin-left: 520px; margin-top: 40px;"  "> *Certificate in PDF Format</p>
            <br><br><br><br><br><br><br><br>
            

        </div>
        
       

        

        
        
    </body>
</html>