<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/validate_mentor.css">
    <title>Validate Student</title>
</head>
<body>
    <section class="nav-bar">
        <div class="nav-logo">
            <a href="../index.html">
                <img src="../static/images/MCS Logo-White.png"  alt="MCS Logo">
            </a>
        </div>
    </section>
    <div class="main-contents">
        <section class="lhs-form">
            <form action="">
                <div class="form-header">
                    <h1>
                        Validate your credentials
                    </h1>
                    <p>
                        Dear Students! </br>
                        Kindly, Input your details and we’ll verify if you are validated for a certificate.
                    </p>
                </div>
                <div class="form-content">
                    <div class="email field">
                        <label for="email">Email</label>
                        <div class="target-container">
                            <input type="text" placeholder="Enter your email" name="email" id="email">
                        </div>
                    </div>
                    <div class="track field">
                        <label for="track">Track</label>
                        <div class="target-container">
                            <select name="track" id="track">
                                <option value="Select Track" class="disabled-option" selected disabled>Select Your Track</option>
                                <option value="Public Relations Manager">Backend Development</option>
                                <option value="Public Relations Manager">Deep Learning</option>
                                <option value="Public Relations Manager">Frontend Development</option>
                                <option value="Public Relations Manager">Mobile App Development</option>
                                <option value="Public Relations Manager">Python Programming</option>
                            </select>
                        </div>
                    </div>
                    <input class="validate-btn" type="submit" value="Validate" id="validateBtn">
                </div>
            </form>
        </section>
        <section class="rhs">
            <div class="image-container">
                <img src="../static/images/validate-student-lg.png" alt="Validate student svg from undraw.com">
            </div>
        </section>
    </div>
</body>
<script src="../app/validate.js"></script>
</html>